section.section {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.fiverr_counter {
    font-size: 80px;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
}
.card {
    border: none;
    text-align: center;
}
.csttodo,#do{
    width: 400px;
    margin: 0 auto;
}
#do{
    width: 475px;
}